# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store
Thumbs.db

# ipynb
ipynb/

# memo
memo/
prompt/

# data
data/*.csv
schema/Model_Run_Metadata.json

.vscode/
.idea/
*copy.md

.pycache/
__pycache__/
*.py[cod]