# Python
venv/
.venv/
venv_dbt/
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store
Thumbs.db

# ipynb
ipynb/

# memo
memo/
prompt/

# data
data/*.csv
schema/Model_Run_Metadata.json

.vscode/
.idea/
*copy.md

.pycache/
__pycache__/
*.py[cod]
static/
agents/
.env
scripts/archive
archive

# dbt
ecommerce_dbt/logs/
ecommerce_dbt/target/
dbt.log
query_log.sql
logs/